/* Hero Section  */

.hero {
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.541),
            rgba(0, 0, 0, 0.548)
        ),
        url(./img/hero.jpg) center center/cover no-repeat;
    height: 100vh;
}

.hero-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hero-lead {
    font-size: 10rem;
}

.hero-sublead {
    font-size: 5rem;
}

.hero-p {
    font-size: 2rem;
    width: 75%;
}
