/* Hero Section  */

.hero {
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.712),
            rgba(0, 0, 0, 0.753)
        ),
        url(./img/hero.jpg) center center/cover no-repeat;
    height: 100vh;
}

.hero-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hero-lead {
    font-size: 10rem;
}

.hero-sublead {
    font-size: 5rem;
}

.hero-p {
    font-size: 2rem;
    width: 75%;
}

.hero-p-2 {
    font-size: 1rem;
    width: 75%;
}

.hero-source {
    text-decoration: none;
    color: red;
    opacity: 1;
    transition: all ease 0.5s;
}

.hero-source:hover {
    text-decoration: none;
    color: red;
    opacity: 0.5;
}

.moment {
    font-size: 1.5rem;
}

/* Card Data Section  */

.card {
    margin-top: 5rem;
    width: 40rem;
    background: #000 !important;
    color: #fff !important;
    border-radius: 5rem;
}
