.covid-heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

/* Hero Section  */

.hero {
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.712),
            rgba(0, 0, 0, 0.753)
        ),
        url(./img/hero.jpg) center center/cover no-repeat;
    height: 100vh;
}

.hero-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hero-lead {
    font-size: 10rem;
}

.hero-sublead {
    font-size: 5rem;
}

.hero-p {
    font-size: 2rem;
    width: 75%;
}

.hero-p-2 {
    font-size: 1rem;
    width: 75%;
}

.hero-source {
    text-decoration: none;
    color: red;
    opacity: 1;
    transition: all ease 0.5s;
}

.hero-source:hover {
    text-decoration: none;
    color: red;
    opacity: 0.5;
}

.moment {
    font-size: 1.5rem;
}

.space {
    margin: 3rem 0 3rem 0;
}

/* Card Data Section  */

.card {
    background: #0e0e0e !important;
    color: #fff !important;
    border-radius: 2rem !important;
}

.card-title {
    margin-bottom: 5rem !important;
    font-size: 6rem;
    font-weight: 500;
}

.card {
    font-size: 4rem;
}

.new-confirmed {
    color: #00a1ab;
}

.total-confirmed {
    color: #ff5200;
}

.new-deaths {
    color: #e43f5a;
}

.total-deaths {
    color: #16817a;
}

.new-recovered {
    color: #ffe2bc;
}

.total-recovered {
    color: #af8baf;
}

/* News && Address Card */

.city-card {
    margin: 3rem auto;
}

.news-title,
.city-title {
    font-size: 2.5rem;
    color: rgb(156, 12, 12);
}

.news-subtitle,
.city-subtitle {
    font-size: 2rem;
}

.news-text,
.news-link,
.city-text {
    font-size: 1.5rem;
}

/* Navbar  */

.navbar-brand {
    font-size: 2rem !important;
    color: #fff;
}

.nav-link {
    font-size: 1.2rem !important;
    color: #fff;
}

/* Table */
.covidtable {
    margin-top: 5rem;
    border-radius: 1rem;
}

/* Search Local */
.localinput {
    font-size: 2.5rem !important;
    background: #0e0e0e !important;
    color: #fff !important;
    border-radius: 1rem !important;
    padding: 2rem !important;
    display: block;
}

.form-inline button.form-control,
#contain_word {
    display: block;
    width: 100%;
}

.search-label,
::placeholder {
    font-size: 2rem;
}

.submit-btn {
    margin-top: 2rem;
    font-size: 1.3rem !important;
    display: block;
}
